.idea/
.vscode/
*.iml
.env
**/.env
**/.env.*
!**/.env.example
**/target/
.m2/
**/node_modules/
**/.npm-cache/
**/.next/
*.tsbuildinfo
.runtime/
.vercel/
*.pid
**/playwright-report/
**/test-results/
*.log
.DS_Store
